<ion-content class="ion-padding">
  <div class="fx-forgot">
    <p class="fx-hint fx-role-label">{{ roleLabel }}</p>
    <h1>Reset password</h1>

    <ng-container *ngIf="step === 'find'; else resetStep">
      <p class="fx-hint">Enter your User ID to look up your account.</p>
      <ion-item lines="none" class="fx-field">
        <ion-input label="User ID" labelPlacement="stacked" placeholder="e.g. balaji" [(ngModel)]="userId"></ion-input>
      </ion-item>
      <p class="fx-err" *ngIf="error">{{ error }}</p>
      <ion-button expand="block" color="primary" (click)="findAccount()">Continue</ion-button>
    </ng-container>

    <ng-template #resetStep>
      <p class="fx-hint">Account found: <strong>{{ foundName }}</strong> ({{ roleLabel }}). Set a new password.</p>
      <ion-item lines="none" class="fx-field">
        <ion-input label="New password" labelPlacement="stacked" type="password" placeholder="New password" [(ngModel)]="newPassword"></ion-input>
      </ion-item>
      <ion-item lines="none" class="fx-field">
        <ion-input label="Confirm new password" labelPlacement="stacked" type="password" placeholder="Confirm new password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>
      <p class="fx-err" *ngIf="error">{{ error }}</p>
      <ion-button expand="block" color="primary" (click)="resetPassword()">Reset password</ion-button>
    </ng-template>

    <ion-button expand="block" fill="clear" color="medium" (click)="goBackToLogin()">← Back to log in</ion-button>
  </div>
</ion-content>
